#galeria img{
    width: 80%;
    height: 250px;
    transition: 0.8s;
}

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 10px;
}

#galeria img:hover{
    border-radius: 10px 10px 10px 10px;
    
    transform: scale(1.2);
}

body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(5, 7, 12, 0.75));
}

